# --------------------
# OSX Files
# --------------------
._*
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
Icon

# --------------------
# Windows Files
# --------------------
*.cab
*.lnk
*.msi
*.msm
*.msp
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Thumbs.db

# --------------------
# Sublime Text Files
# --------------------
*.sublime-project
*.sublime-workspace

# --------------------
# IntelliJ Files
# --------------------
.idea/
*.iml
*.ipr
*.iws
out/

# --------------------
# Eclipse Files
# --------------------
.classpath
.metadata
.project
.settings/
*.bak


# --------------------
# Cruft
# --------------------
*.log

# --------------------
# App Files
# --------------------
.tmp
dist/*.map
lib
node_modules/
coverage
