body {
  background: #efefef;
}

#root { padding: 40px 20px; }

.playground {
  max-width: 800px;
  margin: auto;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.25);
}
.playgroundCode, .CodeMirror {
  border-radius: 5px 5px 0px 0px;
}

.CodeMirror {
  padding: 10px;
}

.playgroundPreview {
  background: white;
  border-radius: 0px 0px 5px 5px;
  padding: 10px;
  overflow: scroll;
}

.playgroundError {
  padding: 10px;
  font-size: 12px;
  color: white;
  background: #F2777A;
}